# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [2]:
vector = np.zeros(10)

3. Create a vector with values ranging from 10 to 49

In [3]:
vector2 = np.arange(10,49)

4. Find the shape of previous array in question 3

In [4]:
vector2.shape

(39,)

5. Print the type of the previous array in question 3

In [5]:
print(vector2.dtype)

int32

6. Print the numpy version and the configuration

In [6]:
print(np.__version__)
print(np.show_config())

1.16.5
mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/I.R.SH.A.D/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/I.R.SH.A.D/Anaconda3\\Library\\include']
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/I.R.SH.A.D/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/I.R.SH.A.D/Anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/I.R.SH.A.D/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/I.R.SH.A.D/Anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/I.R.SH.A.D/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/I.R.SH.A.D/Anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/I.R.SH.A.D/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/I.R.SH.A.D/Anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [7]:
print(vector2.ndim)

1

8. Create a boolean array with all the True values

In [8]:
array = np.ones(10,dtype=bool)
print(array)

[ True  True  True  True  True  True  True  True  True  True]

9. Create a two dimensional array

In [9]:
array2d = np.ones((2,2))
print(array2d)

[[1. 1.]
 [1. 1.]]

10. Create a three dimensional array

In [10]:
array3d = np.ones((2,2,2))
print(array3d)

[[[1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]]]

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [11]:
vector_reverse = np.arange(10)
reverse_array = vector_reverse[::-1]
print("Actual Vector: ",vector_reverse)
print("Reversed Vector: ",reverse_array)

Actual Vector:  [0 1 2 3 4 5 6 7 8 9]
Reversed Vector:  [9 8 7 6 5 4 3 2 1 0]

12. Create a null vector of size 10 but the fifth value which is 1

In [12]:
vector3 = np.zeros(10)
vector3[4] = 1
print("Null value with one at fifth number: ",vector3)

Null value with one at fifth number:  [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

13. Create a 3x3 identity matrix

In [13]:
array3by3 = np.identity(3)
print(array3by3)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [14]:
arr = np.dtype(np.float16)
print(np.dtype(arr))

float16

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [15]:
arr1 = np.array([[1., 2., 3.],
            [4., 5., 6.]])
arr2 = np.array([[0., 4., 1.],
           [7., 2., 12.]])
print(np.multiply(arr1,arr2))

[[ 0.  8.  3.]
 [28. 10. 72.]]

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [42]:
arr1 = np.array([[1., 2., 3.],
            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],
            [7., 2., 12.]])
arr3 = np.union1d(arr1,arr2)
print(arr3)

[ 0.  1.  2.  3.  4.  5.  6.  7. 12.]

17. Extract all odd numbers from arr with values(0-9)

In [16]:
arr4 = np.arange(10)
arr5 = arr4[arr4%2 != 0]
print("Original Array: ", arr4)
print("Array of Odd numbers: ", arr5)

Original Array:  [0 1 2 3 4 5 6 7 8 9]
Array of Odd numbers:  [1 3 5 7 9]

18. Replace all odd numbers to -1 from previous array

In [17]:
print("Original Array: ", arr4)
arr4[arr4%2 != 0] = -1 
print("Odd number replace with -1: ", arr4)

Original Array:  [0 1 2 3 4 5 6 7 8 9]
Odd number replace with -1:  [ 0 -1  2 -1  4 -1  6 -1  8 -1]

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [18]:
arr = np.arange(10)
arr[5:9] = 12
print(arr)

[ 0  1  2  3  4 12 12 12 12  9]

20. Create a 2d array with 1 on the border and 0 inside

In [19]:
arr2d = np.ones((5,5))
print("Original Array")
print(arr2d)
arr2d[1:-1,1:-1] = 0
print("Array with 0 inside the 1")
print(arr2d)

Original Array
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
Array with 0 inside the 1
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [20]:
arr2d = np.array([[1, 2, 3],
                  [4, 5, 6], 
                  [7, 8, 9]])
arr2d[1,1] = 12
print(arr2d)

[[ 1  2  3]
 [ 4 12  6]
 [ 7  8  9]]

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [21]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,0,0:3] = 64
print(arr3d)

[[[64 64 64]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [22]:
arr2d = np.arange(0,9).reshape(3,3)
arr2d1 = arr2d[0,:]
print(arr2d1)

[0 1 2]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [23]:
arr2d = np.arange(0,9).reshape(3,3)
arr2d2 = arr2d[1,1]
print(arr2d2)

4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [24]:
arr2d = np.arange(0,9).reshape(3,3)
arr2d3 = arr2d[0:2,-1]
print(arr2d3)

[2 5]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [25]:
arr10 = np.random.randn(10,10)
print(arr10)
print("Maximum Value: ", np.max(arr10))
print("Minimmum value: ", np.min(arr10))

[[ 0.03604546  0.05772166 -0.77279138  1.68789587 -1.24421705 -1.10476725
   2.19420103 -1.07328975 -0.178761   -1.94635142]
 [ 0.72189525 -2.70259007 -1.94258174  0.83201263  1.11322251  0.27264058
   0.33479415 -0.07931736 -0.11227728 -2.56428938]
 [-0.44217511 -0.42559602  1.35862955 -1.86186108  0.4792894  -0.28657534
  -0.10385366 -1.38793521  0.63705199 -0.11699398]
 [-0.71154653 -0.61762988  0.22896214 -1.07796154 -0.32954189 -1.92746221
   0.20548257 -1.73128314 -0.44018299 -0.27514156]
 [-0.03232168  1.29669918  0.43940942  0.8451504   1.1042765   1.6754463
  -0.05730401 -0.94732827 -2.18620892  2.68655184]
 [-0.94860886 -0.42230146 -0.40842533 -1.4375649   0.78790089 -1.15491061
  -1.02566398  0.85959289 -0.66741589  2.50575024]
 [ 0.35753795 -0.27215448 -0.26993919  0.70674028 -0.22637076  3.24774469
  -1.2863722   0.72158007 -0.43485574  2.37261321]
 [-0.08427468 -1.01418803  0.40870024 -0.20636824 -0.72607166 -1.37564812
  -1.42202106 -0.31322868  1.29115617 -2.33503333]
 [-0.44463201  0.63607861  1.81752063  2.46843746  0.18339997  0.98416077
   0.75492411 -0.40062143 -1.53445365  1.06559344]
 [-0.24546888  0.61398509 -1.01971969 -0.95683137 -0.33028533 -0.2357143
  -0.59957174 -0.14556008  0.2744751  -0.15937981]]
Maximum Value:  3.2477446924694138
Minimmum value:  -2.702590073554823

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [26]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
common = np.intersect1d(a,b)
print(common)

[2 4]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [27]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
locations = np.where(a == b)
print(locations)

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [28]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
arr = np.where(names != "Will")
print(arr)
print(data[arr[0][:]])

(array([0, 1, 3, 5, 6], dtype=int64),)
[[ 0.26745046 -1.00859699 -0.17520818  0.26877189]
 [ 2.82960236  0.94380967  1.43084546  1.21838662]
 [ 0.16453814 -0.30662466 -0.02016999 -0.7931909 ]
 [ 1.68823603  2.06791711  0.03402824  2.19344545]
 [-0.67132432  0.70366348 -0.39735317  0.30828287]]

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [29]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
x=["Will","Joe"]
arr1 = np.where(names != x[0])
arr2 = np.where(names != x[1])
arr3 = np.intersect1d(arr1[0],arr2[0])
print(arr3)
print(data[arr3[:]])

[0 3]
[[ 2.44352698  1.99781234 -0.3364982   0.83637731]
 [ 1.23991641  0.29115298  1.01343315  0.92381665]]

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [30]:
decarr = np.arange(1,16).reshape(5,3)
print(decarr)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]]

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [31]:
decarr2 = np.arange(1,17).reshape(2,2,4)
print(decarr2)

[[[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]

33. Swap axes of the array you created in Question 32

In [34]:
swaparr = decarr2.swapaxes(1,2)
print(swaparr)

[[[ 1  5]
  [ 2  6]
  [ 3  7]
  [ 4  8]]

 [[ 9 13]
  [10 14]
  [11 15]
  [12 16]]]

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [40]:
ranarr = np.arange(10)
ranarr = np.sqrt(ranarr)
ranarr = np.where(ranarr < 0.5,0,ranarr)
print(ranarr)

[0 1 2 3 4 5 6 7 8 9]
[0.         1.         1.41421356 1.73205081 2.         2.23606798
 2.44948974 2.64575131 2.82842712 3.        ]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [45]:
arr1 = np.random.randn(12)
arr2 = np.random.randn(12)
arr3 = arr1 - arr2
print(arr3)

[ 0.05969432 -2.14507212  0.33366192 -1.91205433  2.00498762  1.37464644
 -0.32486644 -0.29109463  0.34804974  0.80600693  0.98330289  0.93762573]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [44]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
uniqname = np.unique(names)
print(uniqname)

['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [47]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
a = np.setdiff1d(a,b)
print(a)

[1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [49]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
sampleArray[1] = newColumn
print(sampleArray)

[[34 43 73]
 [10 10 10]
 [53 94 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [50]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
new = np.dot(x,y)
print(new)

[[ 28.  64.]
 [ 67. 181.]]

40. Generate a matrix of 20 random values and find its cumulative sum

In [51]:
arr = np.random.randn(20)
cumulativesum = np.cumsum(arr)
print(arr)
print(cumulativesum)

[-0.89908273 -1.02567817 -2.5417481  -0.23794012  0.48578358 -0.19673377
  2.30613552 -0.51455241  0.5400171   0.44842176 -0.58279185  0.16959461
 -1.25405041  0.8838623   0.14225461  0.64773904 -0.80921705  2.1701371
 -0.91488572  0.30712386]
[-0.89908273 -1.92476089 -4.466509   -4.70444911 -4.21866553 -4.4153993
 -2.10926378 -2.62381619 -2.08379909 -1.63537732 -2.21816917 -2.04857456
 -3.30262497 -2.41876267 -2.27650806 -1.62876902 -2.43798607 -0.26784897
 -1.18273469 -0.87561083]